-e ./iati_datastore

# If you update these, also update iati_datastore/setup.py
# These are duplicated here so that requires.io will flag out of date dependencies
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
ckanapi==4.5
lxml==4.6.2
python-dateutil==2.8.1
six==1.15.0
voluptuous>=0.12.0
alembic==1.4.3
gunicorn==20.0.4
Unidecode==1.1.1
requests==2.25.0
xmltodict==0.12.0
gevent>=20.9.0
Markdown==3.3.3
Flask-RQ==0.2
Flask-And-Redis==1.0.0
redis==3.5.3
rq==1.7.0

